
SortSelectionExample.csproj
BubbleSortExample/bin
.vscode

BubbleSortExample/BubbleSortExample.sln
obj
BubbleSortExample/BubbleSortExample.csproj
bin
SortSelectionExample.sln
BubbleSortExample/.vscode
BubbleSortExample/obj
İnsertionAlgorithmExample/İnsertionAlgorithmExample.sln
İnsertionAlgorithmExample/İnsertionAlgorithmExample.csproj